<% content_for :title do %>Entry For Today<% end %>

<div class="row">
  <h1 class="columns">Entry For Today</h1>
</div>

<% 
    @person_errors ||= [] 
    @entry_errors ||= []
%>

<% if @person_errors.any? or @entry_errors.any? %>
  <div class="row row-error">
    <h2>Errors</h2>
    <ul>
      <% 
        all_errors = @entry_errors.concat @person_errors
        all_errors.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @entry do |f| %>
  <div class="row">
    <div class="large-6 columns">
      <%= label_tag :person_name, "Your Name" %>
      <%= text_field_tag :person_name, @person_name %>
    </div>
  </div>
  <div class="row">
    <div class="large-6 columns">
      <%= label_tag :person_email, "Your Email" %>
      <%= text_field_tag :person_email, @person_email %>
      <span class="info">Your email address will be used to generate your avatar. <a href="http://gravatar.com">Set it up over here</a>.</span>
    </div>
  </div>
  <div class="row">
    <div class="large-6 columns">
      <%= f.label :yesterday, "What Did You Work On Yesterday?" %>
      <%= f.text_area :yesterday, class: "data-entry" %>
    </div>
  </div>
  <div class="row">
    <div class="large-6 columns">
      <%= f.label :today, "What Will You Work On Today?" %>
      <%= f.text_area :today, class: "data-entry" %>
    </div>
  </div>
  <div class="row">
    <div class="large-6 columns">
      <%= f.label :block, "Any Blocks?" %>
      <%= f.text_area :block, class: "data-entry" %>
      <span class="info">Leave this blank if there were none.</span>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <%= f.submit "Add", class: "button" %>
    </div>
  </div>
<% end %>
