<div class="row row-scrum <%= entry.block.empty? ? "" : "row-blocked" %>">
  <div class="small-2 large-2 columns">
    <%= image_tag entry.person.gravatar_url(:rating => 'PG', :secure => true) %>
    <br />
    <a href="mailto:<%= entry.person.email %>"><%= entry.person.name %></a>
  </div>
  <div class="small-4 large-4 columns">
    <%= entry.yesterday %>
  </div>
  <div class="small-3 large-3 columns">
    <%= entry.today %>
  </div>
  <div class="small-3 large-3 columns block">
    <%= entry.block %>
  </div>
</div>

